<!-- Logo -->
<a href="" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>SO</b>D</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>SIG</b>OOD</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>


    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="" class="user-image imageemployerconnecter" alt="User Image">
                    <span class="hidden-xs">{{ app.user.nom }} {{ app.user.prenom }}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="" class="img-circle imageemployerconnecter"
                             alt="User Image">
                        <p style="font-size: 12px">
                            {{ app.user.nom }} {{ app.user.prenom }}
                            - {{ app.user.fonction.foncod }} || {{ app.session.get('exercice') }}
                            <small> Connecté le {{ "now"|date("d/m/Y") }} <small id="heure"> </small> </small>
                        </p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('app_logout') }}" class="btn btn-danger btn-flat">Se déconnecter</a>
                        </div>
                    </li>
                </ul>
            </li>

            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>
