<li class="header">LES MENUS</li>

<li class="accueil">
    <a href="{{ path('homepage') }}">
        <i class="fa fa-book"></i> <span>Accueil</span>
    </a>
</li>

{#{% if app.user.fonction == "AG" %}#}
<li class="treeview">
    <a href="#">
        <i class="fa fa-floppy-o"></i> <span> Paramètres </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="exercice-budgetaire-menu"><a href="{{ path('exercice_index') }}"><i
                        class="fa fa-align-left"></i> Exercice Budgétaire </a>
        </li>
        <li class="ministere-menu"><a href="{{ path('ministere_index') }}"><i
                        class="fa fa-align-left"></i> Ministère </a>
        </li>
        <li class="programme-menu"><a href="{{ path('programme_index') }}"><i
                        class="fa fa-align-left"></i> Programme </a>
        </li>
        <li class="action-menu"><a href="{{ path('action_index') }}"><i
                        class="fa fa-align-left"></i> Action </a>
        </li>
        <li class="activite-menu"><a href="{{ path('activite_index') }}"><i
                        class="fa fa-align-left"></i> Activité </a>
        </li>
        <li class="odd-menu"><a href="{{ path('odd_index') }}"><i
                        class="fa fa-align-left"></i> Odd </a>
        </li>
        <li class="cible-menu"><a href="{{ path('cible_index') }}"><i
                        class="fa fa-align-left"></i> Cible </a>
        </li>

        {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
    </ul>
</li>
{#{% endif %}#}

<li class="treeview">
    <a href="#">
        <i class="fa fa-tree"></i> <span> Programmation </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="elaboration-budget-menu"><a href="{{ path('elabor_charg') }}"><i
                        class="fa fa-align-left"></i> Elaboration du Budget </a>
        </li>
        <li class="analyse-budget-menu"><a href="{{ path('analys_charg') }}"><i
                        class="fa fa-align-left"></i> Analyse du Budget </a>
        </li>
        <li class="execution-budget-menu"><a href="{{ path('execution_budget') }}"><i
                        class="fa fa-align-left"></i> Exécution du Budget </a>
        </li>
        {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-vine"></i> <span> Validation </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="validation-budget-menu"><a href="{{ path('elabor_vali') }}"><i
                        class="fa fa-align-left"></i> Elaboration du Budget </a>
        </li>
        <li class="validation-execution-budget-menu"><a href=""><i
                        class="fa fa-align-left"></i> Exécution du Budget </a>
        </li>
        {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
    </ul>
</li>


{#<li class="treeview">#}
    {#<a href="#">#}
        {#<i class="fa fa-archive"></i> <span> Annulation </span>#}
        {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
    {#</a>#}
    {#<ul class="treeview-menu">#}
        {#<li class="annulation-budget-menu"><a href=""><i#}
                        {#class="fa fa-align-left"></i> Elaboration du Budget </a>#}
        {#</li>#}
        {#<li class="stat-list-ordonnance"><a href=""><i#}
                        {#class="fa fa-align-left"></i> Analyse du Budget </a>#}
        {#</li>#}
        {#<li class="stat-list-ordonnance"><a href=""><i#}
                        {#class="fa fa-align-left"></i> Exécution du Budget </a>#}
        {#</li>#}
        {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
    {#</ul>#}
{#</li>#}

<li class="treeview">
    <a href="#">
        <i class="fa fa-bar-chart"></i> <span> Statistiques </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="stat-deta-budg-planif"><a href="{{ path('detail_budget_planifie') }}"><i
                        class="fa fa-align-left"></i> Détail du Budget Planifié </a>
        </li>
        {#<li class="stat-anal-budg-ministere"><a href="{{ path('analyse_budgetaire_ministere') }}"><i#}
                        {#class="fa fa-align-left"></i> Répartition du Budget d'un <br> ministère par ODD/Cible </a>#}
        {#</li>#}
        <li class="stat-anal-budg-odd-cible"><a href="{{ path('analyse_budgetaire_odd_cible') }}"><i
                        class="fa fa-align-left"></i> Répartition du Budget <br> Total par Odds / Cibles </a>
        </li>
        {#<li class="stat-anal-budg-odd"><a href="{{ path('analyse_budgetaire_odd') }}"><i#}
                        {#class="fa fa-align-left"></i> Répartition du Budget <br> Total par Odds / Cibles </a>#}
        {#</li>#}
        {#<li class="stat-anal-budg-cible"><a href="{{ path('analyse_budgetaire_cible') }}"><i#}
                        {#class="fa fa-align-left"></i> Répartition du Budget <br> Total par Cibles </a>#}
        {#</li>#}
        <li class="stat-rep-deta-budg-ministere"><a href="{{ path('repartition_detaille_budget_ministere') }}"><i
                        class="fa fa-align-left"></i> Répartition du Budget <br> ODD par ministère </a>
        </li>
        <li class="stat-rep-budg-ministere"><a href="{{ path('repartition_budget_ministere') }}"><i
                        class="fa fa-align-left"></i> Répartition du budget <br> par ministère </a>
        </li>
        <li class="stat-deta-budg-exec"><a href="{{ path('detail_budget_execute') }}"><i
                        class="fa fa-align-left"></i> Détail du Budget Exécuté </a>
        </li>
        <li class="stat-situ-exec-odd-cible"><a href=""><i
                        class="fa fa-align-left"></i> Répartition du Budget <br> Exécuté par Cibles/ODD </a>
        </li>
        <li class="stat-ens-budget"><a href="{{ path('ensemble_budget_ministere') }}"><i
                        class="fa fa-align-left"></i> Graphe du Budget <br>  Plannifé / Exécuté </a>
        </li>
        <li class="stat-ens-budget-minis"><a href="{{ path('ensemble_budget_dun_ministere') }}"><i
                        class="fa fa-align-left"></i> Graphe du budget <br> d'un ministère </a>
        </li>

        {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
    </ul>
</li>
{#{{ dump(app.session.get('fonction')) }}#}
{% if app.session.get('fonction') == "SUP" %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i> <span> Parametre Global </span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
        </a>
        <ul class="treeview-menu">
            <li class="gestion-acteur-menu"><a href="{{ path('user_index') }}"><i
                            class="fa fa-align-left"></i> Gestion des acteurs </a>
            </li>
            <li class="parametre-menu"><a href="{{ path('parametre_index') }}"><i
                            class="fa fa-align-left"></i> Gestion données de base </a>
            </li>
            {# <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li> #}
        </ul>
    </li>
{% endif %}

<li class="profil-menu">
    <a href="{{ path('app_update_profil') }}">
        <i class="fa fa-user profil-menu"></i> <span>Mon profil</span>
    </a>
</li>
