{% extends 'security/template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Mon Profil
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Mon Profil </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="form-panel">
        <form class="" action="{{ path('userupdateprofil') }}" method="post">

            <div class="row">

                <div class="col-md-10">
                    <label>Nom</label>
                    <input type="text" name="nom" class="form-control" placeholder="nom" value="{{ app.user.nom }}"
                           disabled>
                    <label>Prenom</label>
                    <input type="text" name="prenom" class="form-control" placeholder="prenom"
                           value="{{ app.user.prenom }}" disabled>


                </div>

                <div class="col-md-2" style="height: 120px">
                    <div class="col-md-10" style="height: 120px">

                        <img class="image-display" src="{{ asset('template/dist/img/user8-128x128.jpg') }}"
                             style="height: 100px"/>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-success btn-block col-md-12" href="index.html" type="submit"><i class="fa fa-upload"></i>
                        TEST </button>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <label>Ancien Mot de passe</label>
                    <input type="password" name="mdp" class="form-control" placeholder="Votre Ancien Mot de passe"
                           value="" required>
                    <label>Nouveau Mot de passe</label>
                    <input type="password" name="nvmdp" class="form-control" placeholder="Votre Nouveau Mot de passe"
                           required>
                    <label>Veuillez confirmer le Mot de passe</label>
                    <input type="password" name="confmdp" class="form-control"
                           placeholder="Confirmer votre Mot de passe"
                           value="" required>
                    <label>&nbsp;</label>
                    <button class="btn btn-success btn-block" href="index.html" type="submit"><i class="fa fa-save"></i>
                        Enregistrer
                    </button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
