


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIGOOD | Se Connecter</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://budgetbenin.bj/wp-content/uploads/2019/09/cropped-LogoDGB-32x32.png" rel="icon">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('template/styles.css') }}">


</head>

<body onload="getTime()">
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<div id="login-page">
    <div class="container">
        <form class="form-login" action="{{ path('app_login') }}" method="post">
            <h2 class="form-login-heading">connectez-vous !</h2>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="login-wrap">

                {#<label for="inputEmail">Email</label>#}
                <input placeholder="Votre Pseudo" type="text" value="{{ last_username }}" name="login" id="inputLogin"
                       class="form-control" required autofocus>
                {#<label for="inputPassword">Password</label>#}
                <label>&nbsp;</label>

                <input placeholder="Votre Mot de passe" type="password" name="password" id="inputPassword"
                       class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <label>&nbsp;</label>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Se
                    Connecter
                </button>
                <hr>
                {#<div class="centered" style="text-align: center"><b style="color: red">{{ error }}</b></div>#}
                <div id="showtime"></div>
            </div>
            {##}
        </form>
    </div>
    </form>
</div>
</div>
<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!--BACKSTRETCH-->
<script src="{{ asset('template/dist/js/jquery.backstretch.min.js') }}"></script>

<script>
    $.backstretch("../template/dist/img/photo4.jpg", {
        speed: 500
    });
</script>
<script>
    function getTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function() {
            getTime()
        }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>
</body>

</html>

