{% extends 'programmation/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Analyse Budget
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Phase d'analyse </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <h2>Charger l'analyse</h2>
                <a type="button" class="btn btn-danger col-md-2 pull-right" id="annulerchargement">
                    Annuler le chargement <i class="fa fa-stop"></i>
                </a>
                <a type="button" class="btn btn-primary col-md-2 pull-right" id="valider">
                    Valider le chargement <i class="fa fa-like"></i>
                </a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="upload-form-analyse">
                    <div class="form-group">
                        <label for="file" id="textanalyse" hidden>File</label>

                        <input id="file" type="file" name="file" accept=".csv"
                               class="btn btn-default col-md-3 pull-right">
                        {#<input class="btn btn-primary" type="submit">#}
                        {#<div class="row">#}
                        <a type="button" class="btn btn-default col-md-1 pull-right" id="charger-analyse">
                            Charger <i class="fa fa-download"></i>
                        </a>

                            {#</div>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteanalyse" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th class="col-md-1">Cible</th>
                    <th class="col-md-10">Activité</th>
                    <th class="col-md-1">Trimestre</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneanalyse">
                {% for listeActivExo in listesActivExo %}
                    <tr>
                        <td>{{ listeActivExo.analCible.cibCod }}</td>
                        <td>{{ listeActivExo.analActivite.activLib }}</td>
                        <td>{{ listeActivExo.analTrimestre.trimLib}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $(".analyse-budget-menu").addClass('active');
        $(".analyse-budget-menu").closest('.treeview').addClass('active');
    </script>
    <script>
        var lienchargementanalyse = "{{ path('ajax_charge_fichier_analyse') }}";
        var lienenregistrementanalyse = "{{ path('ajax_enregistrer_fichier_analyse') }}";
        var lienannulleanalyse = "{{ path('ajax_analyse_annule_charge') }}";
    </script>
    <script type="text/javascript" src="{{ asset('front/programmation/analyse_budget/index.js') }}"></script>

{% endblock %}


