{% extends 'programmation/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Elaboration Budget
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Charger le Budget </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <h2>Charger la préparation</h2>
                <a type="button" class="btn btn-primary col-md-2 pull-right" id="valider">
                    Valider le chargement <i class="fa fa-like"></i>
                </a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="upload-form">
                    <div class="form-group">
                        <label for="file" id="text" hidden>File</label>

                        <input id="file" type="file" name="file" accept=".csv"
                               class="btn btn-default col-md-3 pull-right">
                        {#<input class="btn btn-primary" type="submit">#}
                        {#<div class="row">#}
                        <a type="button" class="btn btn-default col-md-1 pull-right" id="charger">
                            Charger <i class="fa fa-download"></i>
                        </a>

                            {#</div>#}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistedonnee" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th class="col-md-2">Code Activité</th>
                    <th class="col-md-9">Libellé Activité</th>
                    <th class="col-md-1">Montant</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignedonnee">

                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $(".elaboration-budget-menu").addClass('active');
        $(".elaboration-budget-menu").closest('.treeview').addClass('active');
    </script>
    <script>
        var lienchargement = "{{ path('ajax_charge_fichier') }}";
        var lienenregistrement = "{{ path('ajax_enregistrer_fichier_budget') }}";
    </script>
    <script type="text/javascript" src="{{ asset('front/programmation/elaboration_chargement/index.js') }}"></script>

{% endblock %}


