{% extends 'programmation/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Execution Budget
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Phase d'execution </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        {#<div class="col">#}
        <h2>Saisir les dépenses</h2>
        <hr>
        {#</div>#}
    </div>
    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteexecution" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th class="col-md-1">Cible</th>
                    <th class="col-md-8">Activité</th>
                    <th class="col-md-1">Montant Réservé</th>
                    <th class="col-md-1">Montant Dépensé</th>
                    <th class="col-md-1">Action</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneexecution">
                {% for listeActivMinisExoMontExec in listesActivMinisExoMontExec %}
                    <tr>
                        <td>{{ listeActivMinisExoMontExec.cible }}</td>
                        <td>{{ listeActivMinisExoMontExec.activite }}</td>
                        <td style="text-align: right">{{ listeActivMinisExoMontExec.montant|number_format(0, ',', '.')}}</td>
                        <td style="text-align: right">{{ listeActivMinisExoMontExec.montExecut|number_format(0, ',', '.')}}</td>
                        <td style="text-align: center">
                            <a type="button" class="btn btn-success btndetailanalyse"
                                                          data-id="{{ listeActivMinisExoMontExec.id }}">
                                <i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="modal-detail-analyse" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="title-modal">La cible - L'activité</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#<div class="col-md-12">#}

                    <div class="col-md-3">
                        <label for="">Montant Octroyé</label>
                        <input style="text-align: right" class="form-control" type="number" placeholder="0"
                               id="montantoctroye" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="">Montant Exécuté</label>

                        <input style="text-align: right" class="form-control" type="number" placeholder="0"
                               id="montantexecute" disabled>
                    </div>

                    <div class="col-md-3">
                        <label for="">Disponible</label>

                        <input style="text-align: right" class="form-control" type="number" placeholder="0"
                               id="disponible" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="">&nbsp;</label>
                        <button type="button" id="affichedetail" class="btn btn-primary">Consulter Detail</button>
                    </div>
                    <br>

                    <label for="">&nbsp;</label>
                    <div id="detailexecution" hidden>
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Details Dépenses</font></font></h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-5">
                                        <select id="combotrimestre" class="form-control select2" style="width: 100%;">
                                            <option selected="selected" value="0">Trimestre</option>
                                            {% for trimestre in trimestres %}
                                                <option
                                                        value="{{ trimestre.trimCod }}">{{ trimestre.trimLib }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <input id="ajoutmontantexecute" type="number" min="0" class="form-control"
                                               placeholder="Montant Exécuté">
                                    </div>
                                    <div class="col-md-1">
                                        <a type="button" class="btn btn-success" id="ajoutmontant" data-id="">
                                            <i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-striped">
                                    <tbody id="liste-depense">
                                    <tr>
                                        <th><font style="vertical-align: inherit;width: 40px;"><font style="vertical-align: inherit;">Trimestre</font></font></th>
                                        <th><font style="vertical-align: inherit;width: 50px;"><font style="vertical-align: inherit;">Montant</font></font></th>
                                        <th><font style="vertical-align: inherit;width: 10px;"><font style="vertical-align: inherit;">Actions</font></font></th>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>

                    {#<div class="col-md-3">#}
                    {#<select class="form-control" id="sexepatient">#}
                    {#<option value="0">Sexe</option>#}
                    {#<option value="1">Masculin</option>#}
                    {#<option value="2">Feminin</option>#}
                    {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-2">#}
                    {#<button type="button" class="btn btn-success" id="enregistrernewpatient"><i#}
                    {#class="fa fa-save"></i>#}
                    {#</button>#}
                    {#</div>#}

                    {#</div>#}
                    <hr>

                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $(".execution-budget-menu").addClass('active');
        $(".execution-budget-menu").closest('.treeview').addClass('active');
    </script>
    <script>
        var lienchargementinfo = "{{ path('ajax_detail_execution_analyse') }}";
        var lienenregistrementexecution = "{{ path('ajax_enregistrer_ligne_execution') }}";
        var liensupressionexecution = "{{ path('ajax_suppression_ligne_execution') }}";
    </script>
    <script type="text/javascript" src="{{ asset('front/programmation/execution_budget/index.js') }}"></script>

{% endblock %}


