{% extends 'registration/template.html.twig' %}


{% block bredcrumb %}

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                {#<h1 class="m-0 text-dark">Créer un domaine</h1>#}
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Gestion Utilisateur</li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}


{% block content %}

    <div class="card-header">
        <h3 class="card-title">Nouveau Utilisateur</h3>
    </div>
    {#<hr>#}
    <div class="card-body">
        <label for="">&nbsp;</label>
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}


        <div class="row">
            <div class="form-group col-md-4">
                {{ form_row(registrationForm.nom ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(registrationForm.prenom ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(registrationForm.sexe ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(registrationForm.email ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(registrationForm.login ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(registrationForm.plainPassword ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2">
                {{ form_row(registrationForm.telephone ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-5">
                {{ form_row(registrationForm.fonction ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-5">
                {{ form_row(registrationForm.ministere ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-success">Créer</button>

    </div>

    {#{{ form_row(registrationForm.email) }}#}
    {#{{ form_row(registrationForm.plainPassword, {#}
    {#label: 'Password'#}
    {#}) }}#}

    {{ form_end(registrationForm) }}
{% endblock %}
