{% extends 'statistiques/repartition_detaille_budget_par_ministere/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Repartition Budget Odd Par Ministere
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Repartition Odd Budget Par Ministere </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Exercice</label>
                <select id="comboexercice" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>

                    {% for exercice in exercices %}
                        <option
                                value="{{ exercice.exeNum }}">{{ exercice.exeNum }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Periode</label>
                <select id="comboperiode" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Tous</option>
                    {% for trimestre in trimestres %}
                        <option
                                value="{{ trimestre.trimCod }}">{{ trimestre.trimLib }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">&nbsp;</label>

                <a type="button" class="btn btn-success col-md-12" href="{{ path('imprimer_repartition_budget_odd_planifie') }}">
                    <i class="fa fa-download"></i>
                    Générer Pdf
                </a>

            </div>
        </div>

    </div>
    <div class="row">


        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tableau descriptif</h3>
                </div>
                <div class="box-body">

                    <table class="table table-condensed">
                        <tbody id="lignedetailrepartitionbudgetministere">
                        <tr>
                            <th class="col-md-6">Ministere</th>
                            <th class="col-md-2">Montant (Millions)</th>
                            <th class="col-md-2">Part total des dépenses ODD (%)</th>
                            <th class="col-md-2">Part des dépenses ODD dans le budget total(%)</th>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-4">

            {#<div class="row">#}

                {#<div class="box box-primary">#}
                    {#<div class="box-header with-border">#}
                        {#<i class="fa fa-bar-chart-o"></i>#}

                        {#<h3 class="box-title">Graphe Odd</h3>#}

                        {#<div class="box-tools pull-right">#}
                            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
                            {#</button>#}
                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="box-body" id="chart-odd">#}
                        {#<div id="donut-chart-odd" style="height: 300px;"></div>#}
                    {#</div>#}
                    {#<!-- /.box-body-->#}
                {#</div>#}
            {#</div>#}


            <div class="row">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Graphe Repartition</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" id="chart-repartition">
                        <div id="donut-chart-repartition" style="width: 100%;height: 400px;"></div>
                    </div>
                    <!-- /.box-body-->
                </div>

            </div>

        </div>


    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/statistique/repartition_detaille_budget_par_ministere/js/index.js') }}"></script>


    <script>

        var detailRepartitionBudgetUrl = "{{ path('ajax_repartition_detaille_budgetaire_ministere') }}";

        var detailRepartitionBudgetPeriodeUrl = "{{ path('ajax_analyse_budgetaire_periode_odd') }}";


    </script>

{% endblock %}


