<form method="post" action="{{ path('type_cible_delete', {'tyCibCod': type_cible.tyCibCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_cible.tyCibCod) }}">
    <button class="btn">Delete</button>
</form>
