{% extends 'base.html.twig' %}

{% block title %}Edit TypeCible{% endblock %}

{% block body %}
    <h1>Edit TypeCible</h1>

    {{ include('type_cible/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_cible_index') }}">back to list</a>

    {{ include('type_cible/_delete_form.html.twig') }}
{% endblock %}
