{% extends 'base.html.twig' %}

{% block title %}TypeCible index{% endblock %}

{% block body %}
    <h1>TypeCible index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TyCibCod</th>
                <th>TyCibLib</th>
                <th>TyCacher</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_cible in type_cibles %}
            <tr>
                <td>{{ type_cible.tyCibCod }}</td>
                <td>{{ type_cible.tyCibLib }}</td>
                <td>{{ type_cible.tyCacher ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('type_cible_show', {'tyCibCod': type_cible.tyCibCod}) }}">show</a>
                    <a href="{{ path('type_cible_edit', {'tyCibCod': type_cible.tyCibCod}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_cible_new') }}">Create new</a>
{% endblock %}
