{% extends 'base.html.twig' %}

{% block title %}New TypeCible{% endblock %}

{% block body %}
    <h1>Create new TypeCible</h1>

    {{ include('type_cible/_form.html.twig') }}

    <a href="{{ path('type_cible_index') }}">back to list</a>
{% endblock %}
