{% extends 'base.html.twig' %}

{% block title %}TypeCible{% endblock %}

{% block body %}
    <h1>TypeCible</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TyCibCod</th>
                <td>{{ type_cible.tyCibCod }}</td>
            </tr>
            <tr>
                <th>TyCibLib</th>
                <td>{{ type_cible.tyCibLib }}</td>
            </tr>
            <tr>
                <th>TyCacher</th>
                <td>{{ type_cible.tyCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_cible_index') }}">back to list</a>

    <a href="{{ path('type_cible_edit', {'tyCibCod': type_cible.tyCibCod}) }}">edit</a>

    {{ include('type_cible/_delete_form.html.twig') }}
{% endblock %}
