{% extends 'base.html.twig' %}

{% block title %}Edit Parametre{% endblock %}

{% block body %}
    <h1>Edit Parametre</h1>

    {{ include('parametre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parametre_index') }}">back to list</a>

    {{ include('parametre/_delete_form.html.twig') }}
{% endblock %}
