{% extends 'base.html.twig' %}

{% block title %}Parametre index{% endblock %}

{% block body %}
    <h1>Parametre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ParamCod</th>
                <th>ParamLibelle</th>
                <th>ParamDateEffet</th>
                <th>ParamValeurInt</th>
                <th>ParamValeurString</th>
                <th>ParamValeurImage</th>
                <th>ParamModifiable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.paramCod }}</td>
                <td>{{ parametre.paramLibelle }}</td>
                <td>{{ parametre.paramDateEffet ? parametre.paramDateEffet|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ parametre.paramValeurInt }}</td>
                <td>{{ parametre.paramValeurString }}</td>
                <td>{{ parametre.paramValeurImage }}</td>
                <td>{{ parametre.paramModifiable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('parametre_show', {'id': parametre.id}) }}">show</a>
                    <a href="{{ path('parametre_edit', {'id': parametre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parametre_new') }}">Create new</a>
{% endblock %}
