{% extends 'base.html.twig' %}

{% block title %}Parametre{% endblock %}

{% block body %}
    <h1>Parametre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
            <tr>
                <th>ParamCod</th>
                <td>{{ parametre.paramCod }}</td>
            </tr>
            <tr>
                <th>ParamLibelle</th>
                <td>{{ parametre.paramLibelle }}</td>
            </tr>
            <tr>
                <th>ParamDateEffet</th>
                <td>{{ parametre.paramDateEffet ? parametre.paramDateEffet|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ParamValeurInt</th>
                <td>{{ parametre.paramValeurInt }}</td>
            </tr>
            <tr>
                <th>ParamValeurString</th>
                <td>{{ parametre.paramValeurString }}</td>
            </tr>
            <tr>
                <th>ParamValeurImage</th>
                <td>{{ parametre.paramValeurImage }}</td>
            </tr>
            <tr>
                <th>ParamModifiable</th>
                <td>{{ parametre.paramModifiable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('parametre_index') }}">back to list</a>

    <a href="{{ path('parametre_edit', {'id': parametre.id}) }}">edit</a>

    {{ include('parametre/_delete_form.html.twig') }}
{% endblock %}
