<form method="post" action="{{ path('odd_delete', {'oddCod': odd.oddCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ odd.oddCod) }}">
    <button class="btn">Delete</button>
</form>
