{% extends 'base.html.twig' %}

{% block title %}Odd{% endblock %}

{% block body %}
    <h1>Odd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>OddCod</th>
                <td>{{ odd.oddCod }}</td>
            </tr>
            <tr>
                <th>OddLib</th>
                <td>{{ odd.oddLib }}</td>
            </tr>
            <tr>
                <th>OddUserSai</th>
                <td>{{ odd.oddUserSai }}</td>
            </tr>
            <tr>
                <th>OddUserModif</th>
                <td>{{ odd.oddUserModif }}</td>
            </tr>
            <tr>
                <th>OddDatSai</th>
                <td>{{ odd.oddDatSai ? odd.oddDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OddDatModif</th>
                <td>{{ odd.oddDatModif ? odd.oddDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OddCacher</th>
                <td>{{ odd.oddCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('odd_index') }}">back to list</a>

    <a href="{{ path('odd_edit', {'oddCod': odd.oddCod}) }}">edit</a>

    {{ include('odd/_delete_form.html.twig') }}
{% endblock %}
