<form method="post" action="{{ path('fonction_delete', {'fonCod': fonction.fonCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.fonCod) }}">
    <button class="btn">Delete</button>
</form>
