{% extends 'base.html.twig' %}

{% block title %}Fonction index{% endblock %}

{% block body %}
    <h1>Fonction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>FonCod</th>
                <th>FonLib</th>
                <th>FonActif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.fonCod }}</td>
                <td>{{ fonction.fonLib }}</td>
                <td>{{ fonction.fonActif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('fonction_show', {'fonCod': fonction.fonCod}) }}">show</a>
                    <a href="{{ path('fonction_edit', {'fonCod': fonction.fonCod}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fonction_new') }}">Create new</a>
{% endblock %}
