{% extends 'base.html.twig' %}

{% block title %}Fonction{% endblock %}

{% block body %}
    <h1>Fonction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>FonCod</th>
                <td>{{ fonction.fonCod }}</td>
            </tr>
            <tr>
                <th>FonLib</th>
                <td>{{ fonction.fonLib }}</td>
            </tr>
            <tr>
                <th>FonActif</th>
                <td>{{ fonction.fonActif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fonction_index') }}">back to list</a>

    <a href="{{ path('fonction_edit', {'fonCod': fonction.fonCod}) }}">edit</a>

    {{ include('fonction/_delete_form.html.twig') }}
{% endblock %}
