<form method="post" action="{{ path('cible_delete', {'cibCod': cible.cibCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cible.cibCod) }}">
    <button class="btn">Delete</button>
</form>
