<div class="form-panel">
    {{ form_start(form) }}
    <div class="row">
        {#<div class="form-group col-md-4">#}
        {#{{ form_row(form.actCod ,{'attr':{'class':'form-control'}}) }}#}
        {#</div>#}
        <div class="form-group col-md-2">
            {{ form_row(form.cibCod ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-10">
            {{ form_row(form.cibLib ,{'attr':{'class':'form-control'}}) }}
        </div>

    </div>


    <div class="row">
        <div class="form-group col-md-4">
            {{ form_row(form.cibCibTyp ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-8">
            {{ form_row(form.cibOddCod ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn col-md-12">{{ button_label|default('Save') }}</button>
        </div>

        <div class="form-group col-md-2">
            <a type="button" class="btn btn-danger col-md-12" href="{{ path('cible_index') }}">Retour a la liste</a>
        </div>

    </div>
    {{ form_end(form) }}
</div>

