{% extends 'cible/template.html.twig' %}


{% block bredcrumb %}

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                {#<h1 class="m-0 text-dark">Créer un domaine</h1>#}
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Gestion Cible</li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}


{% block content %}

    <div class="card-header">
        <h3 class="card-title">Nouvelle Cible</h3>
    </div>
    {#<hr>#}
    <div class="card-body">
        {{ include('cible/_form.html.twig', {'button_label': 'Créer'}) }}


    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/cible/js/index.js') }}"></script>

    <script>
        {#var deletedFormeUrl = "{{ path('ajax_deleted_forme') }}";#}
    </script>

{% endblock %}
