{% extends 'base.html.twig' %}

{% block title %}Cible{% endblock %}

{% block body %}
    <h1>Cible</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CibCod</th>
                <td>{{ cible.cibCod }}</td>
            </tr>
            <tr>
                <th>CibLib</th>
                <td>{{ cible.cibLib }}</td>
            </tr>
            <tr>
                <th>CibUserSai</th>
                <td>{{ cible.cibUserSai }}</td>
            </tr>
            <tr>
                <th>CibUserModif</th>
                <td>{{ cible.cibUserModif }}</td>
            </tr>
            <tr>
                <th>CibDatSai</th>
                <td>{{ cible.cibDatSai ? cible.cibDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CibDatModif</th>
                <td>{{ cible.cibDatModif ? cible.cibDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CibCacher</th>
                <td>{{ cible.cibCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cible_index') }}">back to list</a>

    <a href="{{ path('cible_edit', {'cibCod': cible.cibCod}) }}">edit</a>

    {{ include('cible/_delete_form.html.twig') }}
{% endblock %}
