{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Analyse Budgetaire ODD
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-anal-budg-odd").addClass('active');
        $(".stat-anal-budg-odd").closest('.treeview').addClass('active');
    </script>
{% endblock %}