.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

/*LOGIN CONFIGURATION PAGE*/
.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #3c8dbc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.login-wrap {
    padding: 20px;
}
.login-wrap .registration {
    text-align: center;
}
.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}


/*LOCK SCREEN CONF*/
#showtime {
    width: 100%;
    color: black;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
}

.lock-screen {
    text-align: center;
}

.lock-screen a {
    color: white;
}

.lock-screen a:hover {
    color: #48cfad
}

.lock-screen i {
    font-size: 60px;
}


.modal {
    text-align: center!important;
    padding: 0!important;
}

.modal:before {
    content: ''!important;
    display: inline-block!important;
    height: 100%!important;
    vertical-align: middle!important;
    margin-right: -4px!important;
}

.modal-dialog {
    display: inline-block!important;
    text-align: left!important;
    vertical-align: middle!important;
}

.select2-container--default .select2-selection--single{
    height:33px !important;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loaderanimation/images/loader-32x/loader2.gif') center no-repeat #fff;
}


.fa-spin-reverse {
    animation: 3s linear 1s infinite running slidein;
}



