<form method="post" action="{{ path('action_delete', {'actCod': action.actCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.actCod) }}">
    <button class="btn">Delete</button>
</form>
