
{% extends 'action/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des actions
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Action </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('action_new') }}">
                Enregistrer un nouvelle action <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteaction" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>Programme</th>
                    <th>Cacher</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneaction">
                {% for action in actions %}
                    <tr>
                        <td>{{ action.actCod }}</td>
                        <td>{{ action.actLib }}</td>
                        <td>{{ action.actDes }}</td>
                        <td>{{ action.actProgCod.progLib }}</td>
                        <td>{% if action.actCacher %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('action_edit', { 'actCod': action.actCod }) }}"><i class="fa fa-edit"></i></a>
                            {#<a data-id="{{ ministere.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>#}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/action/js/index.js') }}"></script>

{% endblock %}


