{% extends 'base.html.twig' %}

{% block title %}Action{% endblock %}

{% block body %}
    <h1>Action</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ActCod</th>
                <td>{{ action.actCod }}</td>
            </tr>
            <tr>
                <th>ActLib</th>
                <td>{{ action.actLib }}</td>
            </tr>
            <tr>
                <th>ActDes</th>
                <td>{{ action.actDes }}</td>
            </tr>
            <tr>
                <th>ActUserSai</th>
                <td>{{ action.actUserSai }}</td>
            </tr>
            <tr>
                <th>ActDatSai</th>
                <td>{{ action.actDatSai ? action.actDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActUserModif</th>
                <td>{{ action.actUserModif }}</td>
            </tr>
            <tr>
                <th>ActDateModif</th>
                <td>{{ action.actDateModif ? action.actDateModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActCacher</th>
                <td>{{ action.actCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('action_index') }}">back to list</a>

    <a href="{{ path('action_edit', {'actCod': action.actCod}) }}">edit</a>

    {{ include('action/_delete_form.html.twig') }}
{% endblock %}
