{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Action
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".action-menu").addClass('active');
        $(".action-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}