{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Ensemble Budget
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-ens-budget").addClass('active');
        $(".stat-ens-budget").closest('.treeview').addClass('active');
    </script>
{% endblock %}