{% extends 'statistiques/repartition_budget_par_ministere/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Repartition Budget Par Ministere
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Repartition Budget Par Ministere </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Exercice</label>
                <select id="comboexercice" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>

                    {% for exercice in exercices %}
                        <option
                                value="{{ exercice.exeNum }}">{{ exercice.exeNum }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        {#<div class="col-md-2" style="margin-right: auto;">#}
            {#<div class="form-group">#}
                {#<label for="">&nbsp;</label>#}

                {#<a type="button" class="btn btn-success col-md-12" href="{{ path('imprimertest') }}">#}
                    {#<i class="fa fa-download"></i>#}
                    {#Générer Pdf#}
                {#</a>#}

            {#</div>#}
        {#</div>#}

    </div>
    <div class="row">

        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-bar-chart-o"></i>

                <h3 class="box-title">Graphe Repartition</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" id="chart-repartition-global">
                <div id="donut-chart-repartition-global" style="height: 400px;"></div>
            </div>
            <!-- /.box-body-->
        </div>


    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript"
            src="{{ asset('front/statistique/repartition_budget_par_ministere/js/index.js') }}"></script>


    <script>

        var detailRepartitionGlobalBudgetUrl = "{{ path('ajax_repartition_budgetaire_ministere') }}";


    </script>

{% endblock %}


