{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Repartition du Budget par Ministere
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-rep-budg-ministere").addClass('active');
        $(".stat-rep-budg-ministere").closest('.treeview').addClass('active');
    </script>
{% endblock %}