{% extends 'base.html.twig' %}

{% block title %}Statut index{% endblock %}

{% block body %}
    <h1>Statut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StatLib</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.id }}</td>
                <td>{{ statut.statLib }}</td>
                <td>
                    <a href="{{ path('statut_show', {'id': statut.id}) }}">show</a>
                    <a href="{{ path('statut_edit', {'id': statut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statut_new') }}">Create new</a>
{% endblock %}
