{% extends 'base.html.twig' %}

{% block title %}Statut{% endblock %}

{% block body %}
    <h1>Statut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut.id }}</td>
            </tr>
            <tr>
                <th>StatLib</th>
                <td>{{ statut.statLib }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_index') }}">back to list</a>

    <a href="{{ path('statut_edit', {'id': statut.id}) }}">edit</a>

    {{ include('statut/_delete_form.html.twig') }}
{% endblock %}
