{% extends 'statistiques/detail_budget_execute/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Detail du Budget Exécuté
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Detail du Budget Exécuté </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Exercice</label>
                <select id="comboexercice" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>

                    {% for exercice in exercices %}
                        <option
                                value="{{ exercice.exeNum }}">{{ exercice.exeNum }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">&nbsp;</label>

                <a type="button" class="btn btn-success col-md-12" href="{{ path('imprimer_detail_budget_planifie_execute') }}">
                    <i class="fa fa-download"></i>
                    Générer Pdf
                </a>

            </div>
        </div>

    </div>
    <div class="row">


        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tableau descriptif</h3>
                </div>
                <div class="box-body">

                    <table class="table table-condensed">
                        <tbody id="lignedetailbudgetexecute">
                        <tr>
                            <th class="col-md-2">Code</th>
                            <th class="col-md-6">Libellé</th>
                            <th class="col-md-1">Montant Planifié</th>
                            <th class="col-md-1">Montant Executé</th>
                            <th class="col-md-1">Montant Disponible</th>
                            <th class="col-md-1">Taux (%)</th>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/statistique/detail_budget_execute/js/index.js') }}"></script>


    <script>

        var detailBudgetPlanifieExecutionUrl = "{{ path('ajax_detail_budget_execute') }}";


    </script>

{% endblock %}


