<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>

    </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}

        <!-- Font Awesome -->
        <!-- Favicons -->
        <link href="{{ asset('favicon.ico') }}" rel="icon">
        <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.css') }}">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('template/dist/css/skins/_all-skins.min.css') }}">
        <!-- Morris chart -->
        {#<link rel="stylesheet" href="{{ asset('template/bower_components/morris.css') }}">#}
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/jvectormap/jquery-jvectormap.css') }}">
        <!-- Date Picker -->
        <link rel="stylesheet"
              href="{{ asset('template/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
        <!-- Daterange picker -->
        <link rel="stylesheet"
              href="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        {#DataTable CSS#}
        <link rel="stylesheet" type="text/css" href="{{ asset('template/datatables/datatables.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('template/styles.css') }}">
        {#ChosenSelect CSS#}
        <link rel="stylesheet" href="{{ asset('template/bower_components/select2/dist/css/select2.min.css') }}">
        {#DateTime picker CSS#}
        <link rel="stylesheet" href="{{ asset('template/datetimepicker/css/bootstrap-datetimepicker.min.css') }}">

        {#<!-- fullCalendar -->#}
        {#<link rel="stylesheet" href="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.min.css') }}">#}
        {#<link rel="stylesheet"#}
        {#href="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.print.min.css') }}"#}
        {#media="print">#}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>>
        <![endif]-->
    {% endblock %}
    <!-- Google Font
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    -->
</head>

<body>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <section class="content-wrapper">
        <section class="content-header">

            <div class="box box-primary">
                <div class="content">

                    <div class="box box-primary">
                        <div class="content">
                            <label for=""> Analyse Budgetaire d'un Ministere </label>
                            <br>
                            <label for=""> Exercice : {{ app.session.get('exopdf') }}</label> ||
                            <label for=""> Ministere : {{ app.session.get('ministerepdf') }}</label>
                            <br>
                            <div class="row">


                                <div class="col-md-6">
                                    <div class="box box-success">
                                        {#<div class="box-header with-border">#}
                                        {#<h3 class="box-title">Tableau descriptif</h3>#}
                                        {#</div>#}
                                        <div class="box-body">

                                            <table class="table table-condensed">
                                                <tbody id="lignedetail">
                                                <tr>
                                                    <th class="col-md-4">Code</th>
                                                    <th class="col-md-4">Libellé</th>
                                                    <th class="col-md-4">Montant</th>
                                                </tr>
                                                {% for ligne in app.session.get('tableau1') %}
                                                    <tr>
                                                        <td>{{ ligne.code }}</td>
                                                        <td>{{ ligne.libelle }}</td>
                                                        <td style="text-align: right">{{ ligne.montant|number_format(0, ',', '.')}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>


        </section>


        <!-- Content Wrapper. Contains page content -->


        <!-- /.content-wrapper -->
    </section>

    {% block footer %}

        {{ include('template/footeur.html.twig') }}

    {% endblock %}

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% block javascripts %}
    <script src="{{ asset('template/js/jquery-2.1.4.min.js') }}"></script>
    <!--<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js') }}"></script>
    jQuery UI 1.11.4 -->
    <script src="{{ asset('template/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Morris.js charts
    {#<script src="{{ asset('template/bower_components/raphael/raphael.min.js') }}"></script>#}
    {#<script src="{{ asset('template/bower_components/morris.js/morris.min.js') }}"></script>-->#}
    <!-- ChartJS -->
    {#<script src="{{ asset('template/bower_components/Chart.js/Chart.js') }}"></script>#}
    <!-- FastClick -->
    <script src="{{ asset('template/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <!-- Sparkline -->
    <script src="{{ asset('template/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
    <!-- jvectormap -->
    <script src="{{ asset('template/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('template/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('template/bower_components/jquery-knob/dist/jquery.knob.min.js') }}"></script>
    <!-- daterangepicker -->
    <script src="{{ asset('template/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script src="{{ asset('template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ asset('template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <!-- Slimscroll -->
    <script src="{{ asset('template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('template/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('template/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes)
    <script src="{{ asset('template/dist/js/pages/dashboard.js') }}"></script>-->
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('template/dist/js/demo.js') }}"></script>
    {#DataTableJs#}
    <script type="text/javascript" charset="utf8" src="{{ asset('template/datatables/datatables.js') }}"></script>
    {#Chosen Select#}
    <script src="{{ asset('template/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    {#DatePicker#}
    <!-- date-range-picker -->
    <script src="{{ asset('template/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- bootstrap datepicker -->
    <script src="{{ asset('template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- sweetalert -->
    <script src="{{ asset('template/sweetalert/js/sweetalert.all.js') }}"></script>
    <!-- notify -->
    <script src="{{ asset('template/notify/js/notify.min.js') }}"></script>
    <!-- datetime picker -->
    <script src="{{ asset('template/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- fullCalendar -->
    <script src="{{ asset('template/bower_components/moment/moment.js') }}"></script>
    {#<script src="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>#}
    <!-- FLOT CHARTS -->
    <script src="{{ asset('template/bower_components/Flot/jquery.flot.js') }}"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="{{ asset('template/bower_components/Flot/jquery.flot.resize.js') }}"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="{{ asset('template/bower_components/Flot/jquery.flot.pie.js') }}"></script>
    <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
    <script src="{{ asset('template/bower_components/Flot/jquery.flot.categories.js') }}"></script>
    <script>

        var detailAnalyseBudgetUrl = "{{ path('ajax_analyse_budgetaire_odd') }}";

        var detailAnalyseBudgetPeriodeUrl = "{{ path('ajax_analyse_budgetaire_periode_odd') }}";


    </script>

{% endblock %}
</body>
</html>

