{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Detail du Budget Exécuté
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-deta-budg-exec").addClass('active');
        $(".stat-deta-budg-exec").closest('.treeview').addClass('active');
    </script>
{% endblock %}