<form method="post" action="{{ path('activite_delete', {'activCod': activite.activCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.activCod) }}">
    <button class="btn">Delete</button>
</form>
