{% extends 'activite/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des activites
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Activite </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('activite_new') }}">
                Enregistrer un nouvelle activite <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteactivite" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>Activite</th>
                    <th>Cacher</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneactivite">
                {% for activite in activites %}
                    <tr>
                        <td>{{ activite.activCod }}</td>
                        <td>{{ activite.activLib }}</td>
                        <td>{{ activite.activDes }}</td>
                        <td>{{ activite.activActCod.actLib }}</td>
                        <td>{% if activite.activCacher %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('activite_edit', { 'activCod': activite.activCod }) }}"><i class="fa fa-edit"></i></a>
                            {# <a data-id="{{ ministere.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a> #}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/activite/js/index.js') }}"></script>

{% endblock %}

