{% extends 'base.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
    <h1>Activite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ActivCod</th>
                <td>{{ activite.activCod }}</td>
            </tr>
            <tr>
                <th>ActivLib</th>
                <td>{{ activite.activLib }}</td>
            </tr>
            <tr>
                <th>ActivDes</th>
                <td>{{ activite.activDes }}</td>
            </tr>
            <tr>
                <th>ActivUserSai</th>
                <td>{{ activite.activUserSai }}</td>
            </tr>
            <tr>
                <th>ActivUserModif</th>
                <td>{{ activite.activUserModif }}</td>
            </tr>
            <tr>
                <th>ActivDatSai</th>
                <td>{{ activite.activDatSai ? activite.activDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActivDatModif</th>
                <td>{{ activite.activDatModif ? activite.activDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ActivCacher</th>
                <td>{{ activite.activCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activite_index') }}">back to list</a>

    <a href="{{ path('activite_edit', {'activCod': activite.activCod}) }}">edit</a>

    {{ include('activite/_delete_form.html.twig') }}
{% endblock %}
