<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>

    </title>


    <style>

        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .box.box-primary {
            border-top-color: #3c8dbc;
        }

        .box.box-success {
            border-top-color: #00a65a;
        }

        .box-header {
            color: #444;
            display: block;
            padding: 10px;
            position: relative;
        }

        .box-header.with-border {
            border-bottom: 1px solid #f4f4f4;
        }

        .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: 'Source Sans Pro',sans-serif;
        }
        .form-group {
            margin-bottom: 15px;
        }

        .box {
            position: relative;
            border-radius: 3px;
            background: #ffffff;
            border-top: 3px solid #d2d6de;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }

        .content {
            min-height: 250px;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

    </style>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<body>
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->
    <section class="content-wrapper">
        <section class="content-header">

            <div class="box box-primary">
                <div class="content">
                    <label for=""> Analyse Budgetaire d'un Ministere </label>
                    <br>
                    <label for=""> Exercice : {{ app.session.get('exopdf') }}</label> ||
                    <label for=""> Ministere : {{ app.session.get('ministerepdf') }}</label>
                    <br>
                    <div class="row">


                        <div class="col-md-6">
                            <div class="box box-success">
                                {#<div class="box-header with-border">#}
                                    {#<h3 class="box-title">Tableau descriptif</h3>#}
                                {#</div>#}
                                <div class="box-body">

                                    <table class="table table-condensed">
                                        <tbody id="lignedetail">
                                        <tr>
                                            <th class="col-md-4">ODD</th>
                                            <th class="col-md-4">Montant (Millions)</th>
                                            <th class="col-md-4">Part (%)</th>
                                        </tr>
                                        {% for ligne in app.session.get('tableau1') %}
                                            <tr>
                                                <td>{{ ligne.ODD }}</td>
                                                <td>{{ ligne.Montant }}</td>
                                                <td>{{ ligne.PartOdd }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        {#<div class="col-md-6">#}

                            {#<div class="row">#}

                                {#<div class="box box-primary">#}
                                    {#<div class="box-header with-border">#}
                                        {#<i class="fa fa-bar-chart-o"></i>#}

                                        {#<h3 class="box-title">Graphe Odd</h3>#}

                                        {#<div class="box-tools pull-right">#}
                                            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                                                        {#class="fa fa-minus"></i>#}
                                            {#</button>#}
                                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i#}
                                                        {#class="fa fa-times"></i></button>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="box-body" id="chart-odd">#}
                                        {#<div id="donut-chart-odd" style="height: 300px;"></div>#}
                                    {#</div>#}
                                    {#<!-- /.box-body-->#}
                                {#</div>#}
                            {#</div>#}


                            {#<div class="row">#}

                                {#<div class="box box-primary">#}
                                    {#<div class="box-header with-border">#}
                                        {#<i class="fa fa-bar-chart-o"></i>#}

                                        {#<h3 class="box-title">Graphe Cible</h3>#}

                                        {#<div class="box-tools pull-right">#}
                                            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                                                        {#class="fa fa-minus"></i>#}
                                            {#</button>#}
                                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i#}
                                                        {#class="fa fa-times"></i></button>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="box-body" id="chart-cible">#}
                                        {#<div id="donut-chart-cible" style="height: 300px;"></div>#}
                                    {#</div>#}
                                    {#<!-- /.box-body-->#}
                                {#</div>#}

                            {#</div>#}

                        {#</div>#}


                    </div>


                </div>
            </div>


        </section>


        <!-- Content Wrapper. Contains page content -->


        <!-- /.content-wrapper -->
    </section>


    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

</body>
</html>

