{% extends 'statistiques/ensemble_budgetaire_dun_ministere/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Graphe du Budget par Ministère
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Ensemble Budget </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Exercice</label>
                <select id="comboexercice" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>

                    {% for exercice in exercices %}
                        <option
                                value="{{ exercice.exeNum }}">{{ exercice.exeNum }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-6" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Ministere</label>
                <select id="comboministere" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>
                    {% for ministere in ministeres %}
                        <option
                                value="{{ ministere.minCod }}">{{ ministere.minLibLong }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {#<div class="col-md-2" style="margin-right: auto;">#}
            {#<div class="form-group">#}
                {#<label for="">&nbsp;</label>#}

                {#<a type="button" class="btn btn-success col-md-12" href="{{ path('imprimertest') }}">#}
                    {#<i class="fa fa-download"></i>#}
                    {#Générer Pdf#}
                {#</a>#}

            {#</div>#}
        {#</div>#}

    </div>
    <div class="row">


        <!-- BAR CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"> Répartition Budget par Ministere</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive" id="graphe-repartition">
                <canvas id="chart-repartition" width="400" height="150"></canvas>

                {#<div class="chart" id="bar-chart" style="height: 300px;"></div>#}
            </div>
            <!-- /.box-body -->
        </div>


    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/statistique/ensemble_budgetaire_dun_ministere/js/index.js') }}"></script>


    <script>

        var detailRepatitionBudgetUrl = "{{ path('ajax_repartition_budget_odd') }}";

        var detailAnalyseBudgetUrl = "{{ path('ajax_analyse_budgetaire_odd') }}";


        var detailEnsembleBudgetaireUrl = "{{ path('ajax_dash_bord') }}";


    </script>

{% endblock %}


