{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Ensemble Budget D'un Ministère
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-ens-budget-minis").addClass('active');
        $(".stat-ens-budget-minis").closest('.treeview').addClass('active');
    </script>
{% endblock %}