{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Situation d'execution ODD/Cibles du Budget par Ministere
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-situ-exec-odd-cible").addClass('active');
        $(".stat-situ-exec-odd-cible").closest('.treeview').addClass('active');
    </script>
{% endblock %}