{% extends 'dashbord/template.html.twig' %}



{% block bredcrumb %}
    <h1>
        Accueil
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i> Accueil </a></li>
        <!--<li >Blank page</li>-->
    </ol>
{% endblock %}
{% block content %}

    <h1 style="text-align: center; color: #0b3e6f">
        BIENVENUE {{ app.user.nom }} {{ app.user.prenom }}
        - {{ app.session.get('ministerelibcrt') | upper }} || Exercice {{ app.session.get('exercice') }}
    </h1>
    </br>

    <div class="box box-info">
        <div class="box-body chart-responsive">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ nbrministere }}</h3>

                            <p>Nbr de Ministère</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            &nbsp; <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ montantaccorde | number_format(0, ',', '.') }}</h3>

                            <p>Montant Budget</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            &nbsp; <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ montantexecute | number_format(0, ',', '.') }}</h3>

                            <p>Déjà consommé</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            &nbsp; <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{ montantdisponible | number_format(0, ',', '.') }}</h3>

                            <p>Restant</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </div>

    <!-- BAR CHART -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"> Répartition Budget par Odd</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <canvas id="myChart" width="400" height="150"></canvas>

            {#<div class="chart" id="bar-chart" style="height: 300px;"></div>#}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    {#<div id="contenu">#}

    {#</div>#}


{% endblock %}



{% block javascripts %}
    {{ parent() }}


    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}

    <script>

        var lienrepartitionbudgetparodd = "{{ path('ajax_dash_bord') }}";


        $(".accueil").addClass('active');


        var ctx = document.getElementById('myChart');

        $.ajax({
                url: lienrepartitionbudgetparodd,
                type: "POST",
                data: {
                    'exe': '{{ app.session.get('exercice') }}',
                    'min': '{{ app.session.get('ministere') }}',
                },
                success: function (data) {
                    // console.log(data);
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data['tabodd'],
                            datasets: [{
                                label: 'Répartition par Odd',
                                data: data['taboddmontant'],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 120, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 120, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function(value, index, values) {
                                            if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") +' F CFA';
                                            } else {
                                                return value +' F CFA';
                                            }
                                        }
                                    }
                                }]
                            }
                        }
                    });


                    // tableadddonnevalide.clear();
                    // boutonselectionner.button('reset');
                }
            }
        );
        /* // LINE CHART
         var line = new Morris.Line({
             element: 'line-chart',
             resize: true,
             data: [
                 {y: '2011 Q1', item1: 2666},
                 {y: '2011 Q2', item1: 2778},
                 {y: '2011 Q3', item1: 4912},
                 {y: '2011 Q4', item1: 3767},
                 {y: '2012 Q1', item1: 6810},
                 {y: '2012 Q2', item1: 5670},
                 {y: '2012 Q3', item1: 4820},
                 {y: '2012 Q4', item1: 15073},
                 {y: '2013 Q1', item1: 10687},
                 {y: '2013 Q2', item1: 8432}
             ],
             xkey: 'y',
             ykeys: ['item1'],
             labels: ['Item 1'],
             lineColors: ['#3c8dbc'],
             hideHover: 'auto'
         });*/
        //
        // $(window).load(function () {
        //
        //
        //     // Animate loader off screen
        //     /*  setTimeout(function () {
        //           $(".se-pre-con").fadeOut("slow");
        //       }, 1000);*/
        //     //$(".se-pre-con").fadeOut("2000");
        // });

        /*
                (function($){
                    $.fn.datepicker.dates['fr'] = {
                        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                        daysMin: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                        today: "Aujourd'hui",
                        monthsTitle: "Mois",
                        clear: "Effacer",
                        weekStart: 1,
                        format: "dd/mm/yyyy"
                    };
                }(jQuery));

                // The Calender
                $('#calendar').datepicker({
                    language: 'fr',
                    autoclose: true,
                    todayHighlight: true,
                });*/


    </script>


{% endblock %}
