<form method="post" action="{{ path('exercice_delete', {'exeNum': exercice.exeNum}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice.exeNum) }}">
    <button class="btn">Delete</button>
</form>
