
{% extends 'exercice/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des Exercices
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Exercice </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('exercice_new') }}">
                Enregistrer un nouveau exercice  <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteexercice" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Exercice</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Actif</th>
                    <th class="col-md-1">Activer</th>
                    {#<th class="col-md-1">Désactiver</th>#}
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneexercice">
                {% for exercice in exercices %}
                    <tr>
                        <td>{{ exercice.exeNum }}</td>
                        <td>{% if exercice.exeDatDeb %}{{ exercice.exeDatDeb|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if exercice.exeDatFin %}{{ exercice.exeDatFin|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if exercice.exeEncours %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <form method="post" action="{{ path('exercice_active', {'exeNum': exercice.exeNum}) }}"
                            onsubmit="return confirm('Voulez-vous vraiment activé cette exercice ?');">
                            <input type="hidden" name="_method" value="GET">
                            <input type="hidden" name="_token"
                            value="{{ csrf_token('active' ~ exercice.exeNum) }}">
                            <button class="btn btn-success success"><i class="fa fa-power-off"></i></button>
                            </form>
                        </td>
                        {#<td>#}
                                {#<a type="button" class="btn btn-primary"#}
                                {#href="{{ path('t_localisation_edit', { 'id': t_exercice.exoNum }) }}"><i#}
                                {#class="fa fa-edit"></i></a>#}
                                {#<form method="post" action="{{ path('exercice_active', {'exeNum': exercice.exeNum}) }}"#}
                                      {#onsubmit="return confirm('Voulez-vous vraiment activé cette exercice ?');">#}
                                    {#<input type="hidden" name="_method" value="GET">#}
                                    {#<input type="hidden" name="_token"#}
                                           {#value="{{ csrf_token('active' ~ exercice.exeNum) }}">#}
                                    {#<button class="btn btn-success success"><i class="fa fa-power-on"></i></button>#}
                                {#</form>#}
                                {#<label for="">&nbsp;</label>#}
                                {#<form method="post" action="{{ path('exercice_desactive', {'exeNum': exercice.exeNum}) }}"#}
                                      {#onsubmit="return confirm('Voulez-vous vraiment désactivé cette exercice ?');">#}
                                    {#<input type="hidden" name="_method" value="GET">#}
                                    {#<input type="hidden" name="_token"#}
                                           {#value="{{ csrf_token('desactive' ~ exercice.exeNum) }}">#}
                                    {#<button class="btn btn-danger deleted"><i class="fa fa-power-off"></i></button>#}
                                {#</form>#}


                                {#<a type="button" class="btn btn-primary"#}
                                   {#href="{{ path('exercice_edit', { 'exeNum': exercice.exeNum }) }}"><i class="fa fa-edit"></i></a>#}

                            {#{% if exercice.exeEncours %}#}
                                {#<a data-id="{{ exercice.exeNum }}" type="button" class="btn btn-danger power-off"><i class="fa fa-power-off"></i></a>#}

                            {#{% else %}#}
                                {#<a data-id="{{ exercice.exeNum }}" type="button" class="btn btn-success power-on"><i class="fa fa-power-off"></i></a>#}

                            {#{% endif %}#}
                            {#<a data-id="{{ ministere.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>#}

                        {#</td>#}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/exercice/js/index.js') }}"></script>

    <script>
        {#var lienactivationexercice = "{{ path('ajax_on_exercice') }}";#}

    </script>

{% endblock %}


