{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <h1>Exercice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ExeNum</th>
                <td>{{ exercice.exeNum }}</td>
            </tr>
            <tr>
                <th>ExeDatDeb</th>
                <td>{{ exercice.exeDatDeb ? exercice.exeDatDeb|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExeDatFin</th>
                <td>{{ exercice.exeDatFin ? exercice.exeDatFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExeEncours</th>
                <td>{{ exercice.exeEncours ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ExeUserSai</th>
                <td>{{ exercice.exeUserSai }}</td>
            </tr>
            <tr>
                <th>ExeUserModif</th>
                <td>{{ exercice.exeUserModif }}</td>
            </tr>
            <tr>
                <th>ExeDatSai</th>
                <td>{{ exercice.exeDatSai ? exercice.exeDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExeDatModif</th>
                <td>{{ exercice.exeDatModif ? exercice.exeDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exercice_index') }}">back to list</a>

    <a href="{{ path('exercice_edit', {'exeNum': exercice.exeNum}) }}">edit</a>

    {{ include('exercice/_delete_form.html.twig') }}
{% endblock %}
