{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Exercice
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".exercice-budgetaire-menu").addClass('active');
        $(".exercice-budgetaire-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}