<form method="post" action="{{ path('ministere_delete', {'minCod': ministere.minCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ministere.minCod) }}">
    <button class="btn">Delete</button>
</form>
