<div class="form-panel">
    {{ form_start(form) }}
    <div class="row">
        <div class="form-group col-md-2">
            {{ form_row(form.minCod ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.minLibCrt ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.minLibLong ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            {{ form_row(form.minAdres ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.minTel ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
            {{ form_row(form.minEmail ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_row(form.minSite ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn col-md-12">{{ button_label|default('Save') }}</button>
        </div>

        <div class="form-group col-md-2">
            <a type="button" class="btn btn-danger col-md-12" href="{{ path('ministere_index') }}">Retour a la liste</a>
        </div>

    </div>
    {{ form_end(form) }}
</div>

