{% extends 'ministere/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des ministères
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Ministère </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('ministere_new') }}">
                Enregistrer un nouveau ministère <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteministere" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Libelle Court</th>
                    <th>Libelle Long</th>
                    <th>Adresse</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Site Web</th>
                    <th>Cacher</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneministere">
                {% for ministere in ministeres %}
                    <tr>
                        <td>{{ ministere.minLibCrt }}</td>
                        <td>{{ ministere.minLibLong }}</td>
                        <td>{{ ministere.minAdres }}</td>
                        <td>{{ ministere.minTel }}</td>
                        <td>{{ ministere.minEmail }}</td>
                        <td>{{ ministere.minSite }}</td>
                        <td>{% if ministere.minCacher %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('ministere_edit', { 'minCod': ministere.minCod }) }}"><i class="fa fa-edit"></i></a>
                            {#                            <a data-id="{{ ministere.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>#}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/ministere/js/index.js') }}"></script>

{% endblock %}

