{% extends 'base.html.twig' %}

{% block title %}Ministere{% endblock %}

{% block body %}
    <h1>Ministere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MinCod</th>
                <td>{{ ministere.minCod }}</td>
            </tr>
            <tr>
                <th>MinLibCrt</th>
                <td>{{ ministere.minLibCrt }}</td>
            </tr>
            <tr>
                <th>MinLibLong</th>
                <td>{{ ministere.minLibLong }}</td>
            </tr>
            <tr>
                <th>MinAdres</th>
                <td>{{ ministere.minAdres }}</td>
            </tr>
            <tr>
                <th>MinTel</th>
                <td>{{ ministere.minTel }}</td>
            </tr>
            <tr>
                <th>MinEmail</th>
                <td>{{ ministere.minEmail }}</td>
            </tr>
            <tr>
                <th>MinSite</th>
                <td>{{ ministere.minSite }}</td>
            </tr>
            <tr>
                <th>MinDatSai</th>
                <td>{{ ministere.minDatSai ? ministere.minDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MinDatModif</th>
                <td>{{ ministere.minDatModif ? ministere.minDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MinUserSai</th>
                <td>{{ ministere.minUserSai }}</td>
            </tr>
            <tr>
                <th>MinUserModif</th>
                <td>{{ ministere.minUserModif }}</td>
            </tr>
            <tr>
                <th>MinCacher</th>
                <td>{{ ministere.minCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ministere_index') }}">back to list</a>

    <a href="{{ path('ministere_edit', {'minCod': ministere.minCod}) }}">edit</a>

    {{ include('ministere/_delete_form.html.twig') }}
{% endblock %}
