{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Ministere
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".ministere-menu").addClass('active');
        $(".ministere-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}