{% extends 'statistiques/repartition_budgetaire_odd_cible/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Répartition Budgetaire Odds / Cibles
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Odds / Cibles </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Exercice</label>
                <select id="comboexercice" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>

                    {% for exercice in exercices %}
                        <option
                                value="{{ exercice.exeNum }}">{{ exercice.exeNum }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-2" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Periode</label>
                <select id="comboperiode" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Tous</option>
                    {% for trimestre in trimestres %}
                        <option
                                value="{{ trimestre.trimCod }}">{{ trimestre.trimLib }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-8" style="margin-right: auto;">
            <div class="form-group">
                <label for="">Ministere</label>
                <select id="comboministere" class="form-control select2"
                        style="width: 100%;">
                    <option value="0">Aucun</option>
                    {% for ministere in ministeres %}
                        <option
                                value="{{ ministere.minCod }}">{{ ministere.minLibLong }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {#<div class="col-md-2" style="margin-right: auto;">#}
            {#<div class="form-group">#}
                {#<label for="">&nbsp;</label>#}

                {#<a type="button" class="btn btn-success col-md-12" href="{{ path('imprimertest') }}">#}
                    {#<i class="fa fa-download"></i>#}
                    {#Générer Pdf#}
                {#</a>#}

            {#</div>#}
        {#</div>#}

    </div>


    <div class="row">


        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tableau descriptif Cible</h3>
                </div>
                <div class="box-body">

                    <table class="table table-condensed">
                        <tbody id="lignedetailanalysecible">
                        <tr>
                            <th class="col-md-4">Cible</th>
                            <th class="col-md-4">Montant (Millions)</th>
                            <th class="col-md-4">Part dans le Budget Odd (%)</th>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-6">

            {#<div class="row">#}

            {#<div class="box box-primary">#}
            {#<div class="box-header with-border">#}
            {#<i class="fa fa-bar-chart-o"></i>#}

            {#<h3 class="box-title">Graphe Odd</h3>#}

            {#<div class="box-tools pull-right">#}
            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
            {#</button>#}
            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
            {#</div>#}
            {#</div>#}
            {#<div class="box-body" id="chart-odd">#}
            {#<div id="donut-chart-odd" style="height: 300px;"></div>#}
            {#</div>#}
            {#<!-- /.box-body-->#}
            {#</div>#}
            {#</div>#}


            <div class="row">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Graphe Cible</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" id="chart-cible">
                        <div id="donut-chart-cible" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body-->
                </div>

            </div>

        </div>


    </div>




    <div class="row">


        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Tableau descriptif Odd</h3>
                </div>
                <div class="box-body">

                    <table class="table table-condensed">
                        <tbody id="lignedetailanalyseodd">
                        <tr>
                            <th class="col-md-4">ODD</th>
                            <th class="col-md-4">Montant (Millions)</th>
                            <th class="col-md-4">Part dans le Budget Odd (%)</th>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-6">

            <div class="row">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">Graphe Odd</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" id="chart-odd">
                        <div id="donut-chart-odd" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body-->
                </div>
            </div>


            {#<div class="row">#}

            {#<div class="box box-primary">#}
            {#<div class="box-header with-border">#}
            {#<i class="fa fa-bar-chart-o"></i>#}

            {#<h3 class="box-title">Graphe Cible</h3>#}

            {#<div class="box-tools pull-right">#}
            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
            {#</button>#}
            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
            {#</div>#}
            {#</div>#}
            {#<div class="box-body" id="chart-cible">#}
            {#<div id="donut-chart-cible" style="height: 300px;"></div>#}
            {#</div>#}
            {#<!-- /.box-body-->#}
            {#</div>#}

            {#</div>#}

        </div>


    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/statistique/repartition_budgetaire_odd_cible/js/index.js') }}"></script>


    <script>

        var detailAnalyseBudgetUrl = "{{ path('ajax_analyse_budgetaire_odd') }}";

        var detailAnalyseBudgetPeriodeUrl = "{{ path('ajax_analyse_budgetaire_periode_odd') }}";


    </script>

{% endblock %}


