{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Repartition du Budget Total par Odds / Cibles
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-anal-budg-odd-cible").addClass('active');
        $(".stat-anal-budg-odd-cible").closest('.treeview').addClass('active');
    </script>
{% endblock %}