<div class="form-panel">
    {{ form_start(form) }}

    <div class="row">
        <div class="form-group col-md-4">
            {{ form_row(form.nom ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.prenom ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.sexe ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            {{ form_row(form.email ,{'attr':{'class':'form-control'}}) }}
        </div>
        {#<div class="form-group col-md-4">#}
            {#{{ form_row(form.login ,{'attr':{'class':'form-control'}}) }}#}
        {#</div>#}
        {#<div class="form-group col-md-2">#}
            {#{{ form_row(form.plainPassword ,{'attr':{'class':'form-control'}}) }}#}
        {#</div>#}
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            {{ form_row(form.telephone ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-5">
            {{ form_row(form.fonction ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-md-5">
            {{ form_row(form.ministere ,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <button class="btn col-md-12">{{ button_label|default('Save') }}</button>
        </div>

        <div class="form-group col-md-2">
            <a type="button" class="btn btn-danger col-md-12" href="{{ path('odd_index') }}">Retour a la liste</a>
        </div>

    </div>
    {{ form_end(form) }}
</div>

