{#{% extends 'base.html.twig' %}#}

{#{% block title %}Edit User{% endblock %}#}

{#{% block body %}#}
    {#<h1>Edit User</h1>#}

    {#{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}#}

    {#<a href="{{ path('user_index') }}">back to list</a>#}

    {#{{ include('user/_delete_form.html.twig') }}#}
{#{% endblock %}#}




{% extends 'user/template.html.twig' %}

{% block bredcrumb %}

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                {#<h1 class="m-0 text-dark">Créer un domaine</h1>#}
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Gestion Utilisateur</li>
                    <li class="breadcrumb-item active">Modifier</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}


{% block content %}

    <div class="card-header">
        <h3 class="card-title">Modifier Utilisateur</h3>
    </div>
    {#<hr>#}
    <div class="card-body">

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        {#<a href="{{ path('user_index') }}">back to list</a>#}

        {#{{ include('user/_delete_form.html.twig') }}#}

    </div>

{% endblock %}




