{% extends 'user/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des Utilisateurs
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre Global </a></li>
        <li class="active"><a href="#"> Utilisateur </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('app_register') }}">
                Enregistrer un nouvelle utilisateur <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteuser" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Sexe</th>
                    <th>Photo</th>
                    <th>Actif</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneuser">
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.sexe }}</td>
                        <td><img src="/template/dist/img/{{ user.photo }}" class="img-circle"></td>
                        <td>{{ user.actif ? 'Yes' : 'No' }}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-edit"></i></a>
                            {#<a data-id="{{ ministere.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>#}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/utilisateur/js/index.js') }}"></script>

{% endblock %}


