{% extends 'base.html.twig' %}

{% block title %}Edit Trimestre{% endblock %}

{% block body %}
    <h1>Edit Trimestre</h1>

    {{ include('trimestre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trimestre_index') }}">back to list</a>

    {{ include('trimestre/_delete_form.html.twig') }}
{% endblock %}
