{% extends 'base.html.twig' %}

{% block title %}Trimestre index{% endblock %}

{% block body %}
    <h1>Trimestre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TrimLib</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trimestre in trimestres %}
            <tr>
                <td>{{ trimestre.id }}</td>
                <td>{{ trimestre.trimLib }}</td>
                <td>
                    <a href="{{ path('trimestre_show', {'id': trimestre.id}) }}">show</a>
                    <a href="{{ path('trimestre_edit', {'id': trimestre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trimestre_new') }}">Create new</a>
{% endblock %}
