{% extends 'base.html.twig' %}

{% block title %}New Trimestre{% endblock %}

{% block body %}
    <h1>Create new Trimestre</h1>

    {{ include('trimestre/_form.html.twig') }}

    <a href="{{ path('trimestre_index') }}">back to list</a>
{% endblock %}
