{% extends 'base.html.twig' %}

{% block title %}Trimestre{% endblock %}

{% block body %}
    <h1>Trimestre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trimestre.id }}</td>
            </tr>
            <tr>
                <th>TrimLib</th>
                <td>{{ trimestre.trimLib }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trimestre_index') }}">back to list</a>

    <a href="{{ path('trimestre_edit', {'id': trimestre.id}) }}">edit</a>

    {{ include('trimestre/_delete_form.html.twig') }}
{% endblock %}
