<form method="post" action="{{ path('programme_delete', {'progCod': programme.progCod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programme.progCod) }}">
    <button class="btn">Delete</button>
</form>
