{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
    <h1>Programme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ProgCod</th>
                <td>{{ programme.progCod }}</td>
            </tr>
            <tr>
                <th>ProgLib</th>
                <td>{{ programme.progLib }}</td>
            </tr>
            <tr>
                <th>ProgDes</th>
                <td>{{ programme.progDes }}</td>
            </tr>
            <tr>
                <th>ProgUserSai</th>
                <td>{{ programme.progUserSai }}</td>
            </tr>
            <tr>
                <th>ProgUserModif</th>
                <td>{{ programme.progUserModif }}</td>
            </tr>
            <tr>
                <th>ProgDatSai</th>
                <td>{{ programme.progDatSai ? programme.progDatSai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProgDatModif</th>
                <td>{{ programme.progDatModif ? programme.progDatModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ProgCacher</th>
                <td>{{ programme.progCacher ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('programme_index') }}">back to list</a>

    <a href="{{ path('programme_edit', {'progCod': programme.progCod}) }}">edit</a>

    {{ include('programme/_delete_form.html.twig') }}
{% endblock %}
