{% extends 'validation/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Validation Budget
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Valider le Budget </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <h2>Données Charger </h2>

                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-danger col-md-2 pull-right" id="annulerchargement">
                    Annuler le chargement <i class="fa fa-stop"></i>
                </a>
                <label for=""> &nbsp;</label>
                <a type="button" class="btn btn-primary col-md-2 pull-right" id="validerchargement">
                    Valider le chargement <i class="fa fa-envira"></i>
                </a>
            </div>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistedonneeavalide" aria-describedby="hidden-table-info_info" data-page-length='25'>
                <thead>
                <tr>
                    <th class="col-md-2">Code Activité</th>
                    <th class="col-md-9">Libellé Activité</th>
                    <th class="col-md-1">Montant</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignedonneeavalide">
                {% for listeActivExo in listesActivExo %}
                    <tr>
                        <td>{{ listeActivExo.budActivite.activCod }}</td>
                        <td>{{ listeActivExo.budActivite.activLib }}</td>
                        <td>{{ listeActivExo.budMont|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        var lienannulleelaboration = "{{ path('ajax_annule_charge') }}";
        var lienvalidationelaboration = "{{ path('ajax_valide_charge') }}";
    </script>
    <script type="text/javascript" src="{{ asset('front/validation/elaboration_validation/index.js') }}"></script>

{% endblock %}


