{% extends 'base.html.twig' %}

{% block title %}
    SIGOOD | Budget
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".validation-budget-menu").addClass('active');
        $(".validation-budget-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}